<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tm.mapper.ClassInfoMapper">
    
    <resultMap type="ClassInfo" id="ClassInfoResult">
        <result property="id"    column="id"    />
        <result property="grade"    column="grade"    />
        <result property="teachId"    column="teach_id"    />
        <result property="teacherName"    column="name"    />
        <result property="classNum"    column="class_num"    />
    </resultMap>

    <sql id="selectClassInfoVo">
        select class_info.id, grade, teach_id, class_num, name from class_info, tea_info
    </sql>

    <select id="selectClassInfoList" parameterType="ClassInfo" resultMap="ClassInfoResult">
        <include refid="selectClassInfoVo"/>
        <where>  
            <if test="grade != null "> and grade = #{grade}</if>
            <if test="teachId != null "> and teach_id = #{teachId}</if>
            <if test="classNum != null "> and class_num = #{classNum}</if>
            <if test="teacherName != null and teacherName != '' "> and name = #{teacherName}</if>
            and class_info.teach_id = tea_info.id
        </where>
    </select>
    
    <select id="selectClassInfoById" parameterType="Long" resultMap="ClassInfoResult">
        <include refid="selectClassInfoVo"/>
        where class_info.id = #{id}
        and class_info.teach_id = tea_info.id
    </select>

    <select id="selectClassByTeacherId" resultType="com.ruoyi.tm.domain.ClassInfo">
        select grade, class_num
        from class_info
        where teach_id = #{id}
    </select>

    <insert id="insertClassInfo" parameterType="ClassInfo" useGeneratedKeys="true" keyProperty="id">
        insert into class_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grade != null">grade,</if>
            <if test="teachId != null">teach_id,</if>
            <if test="classNum != null">class_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="grade != null">#{grade},</if>
            <if test="teachId != null">#{teachId},</if>
            <if test="classNum != null">#{classNum},</if>
         </trim>
    </insert>

    <update id="updateClassInfo" parameterType="ClassInfo">
        update class_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="grade != null">grade = #{grade},</if>
            <if test="teachId != null">teach_id = #{teachId},</if>
            <if test="classNum != null">class_num = #{classNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteClassInfoById" parameterType="Long">
        delete from class_info where id = #{id}
    </delete>

    <delete id="deleteClassInfoByIds" parameterType="String">
        delete from class_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>