<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tm.mapper.ClassInfoMapper">
    
    <resultMap type="ClassInfo" id="ClassInfoResult">
        <result property="id"    column="id"    />
        <result property="grade"    column="grade"    />
        <result property="teachId"    column="teach_id"    />
        <result property="teacherName"    column="name"    />
        <result property="classNum"    column="class_num"    />
        <result property="level" column="level"/>
        <result property="levelNum" column="levelNum"/>
    </resultMap>

    <sql id="selectClassInfoVo">
        select class_info.id, grade, teach_id, class_num, name from class_info, tea_info
    </sql>

    <select id="selectClassInfoList" parameterType="ClassInfo" resultMap="ClassInfoResult">
        <include refid="selectClassInfoVo"/>
        <where>  
            <if test="grade != null "> and grade = #{grade}</if>
            <if test="teachId != null "> and teach_id = #{teachId}</if>
            <if test="classNum != null "> and class_num = #{classNum}</if>
            <if test="teacherName != null and teacherName != ''"> and name = #{teacherName}</if>
             and class_info.teach_id = tea_info.id
        </where>
    </select>
    
    <select id="selectClassInfoById" parameterType="Long" resultMap="ClassInfoResult">
        <include refid="selectClassInfoVo"/>
        where class_info.id = #{id}
        and class_info.teach_id = tea_info.id
    </select>

    <select id="selectClassByTeacherId" resultType="com.ruoyi.tm.domain.ClassInfo">
        select grade, class_num
        from class_info
        where teach_id = #{id}
    </select>


    <select id="getClassScore" resultType="com.ruoyi.tm.domain.ClassInfo">
        SELECT
            grade_level AS level,
            COUNT(*) AS levelNum , classId AS id, grade, class_num
        FROM (
                 SELECT
                     STU.id,
                     C.id AS classId, C.grade,C.class_num,
                     CASE
                         WHEN AVG(final_sco*final_por*0.01 + mid_sco*mid_por*0.01 + usual_sco*usual_por*0.01) >= 90 THEN '优秀'
                         WHEN AVG(final_sco*final_por*0.01 + mid_sco*mid_por*0.01 + usual_sco*usual_por*0.01) >= 80 THEN '良好'
                         WHEN AVG(final_sco*final_por*0.01 + mid_sco*mid_por*0.01 + usual_sco*usual_por*0.01) >= 70 THEN '中等'
                         WHEN AVG(final_sco*final_por*0.01 + mid_sco*mid_por*0.01 + usual_sco*usual_por*0.01) >= 60 THEN '及格'
                         ELSE '不及格'
                         END AS grade_level
                 FROM score_info AS S
                          JOIN choose_course AS CH ON S.choose_id = CH.id
                          JOIN stu_info AS STU ON STU.id = CH.stu_id
                          JOIN class_info AS C ON STU.class_id = C.id
                 GROUP BY STU.id
             ) AS subquery
        GROUP BY grade_level,classId,class_num
    </select>

    <insert id="insertClassInfo" parameterType="ClassInfo" useGeneratedKeys="true" keyProperty="id">
        insert into class_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grade != null">grade,</if>
            <if test="teachId != null">teach_id,</if>
            <if test="classNum != null">class_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="grade != null">#{grade},</if>
            <if test="teachId != null">#{teachId},</if>
            <if test="classNum != null">#{classNum},</if>
         </trim>
    </insert>

    <insert id="insertClassInfoWithId">
        insert into class_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="grade != null">grade,</if>
            <if test="teachId != null">teach_id,</if>
            <if test="classNum != null">class_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="grade != null">#{grade},</if>
            <if test="teachId != null">#{teachId},</if>
            <if test="classNum != null">#{classNum},</if>
        </trim>
    </insert>

    <update id="updateClassInfo" parameterType="ClassInfo">
        update class_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="grade != null">grade = #{grade},</if>
            <if test="teachId != null">teach_id = #{teachId},</if>
            <if test="classNum != null">class_num = #{classNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteClassInfoById" parameterType="Long">
        delete from class_info where id = #{id}
    </delete>

    <delete id="deleteClassInfoByIds" parameterType="String">
        delete from class_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>