<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tm.mapper.CourseInfoMapper">
    
    <resultMap type="CourseInfo" id="CourseInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="peoLimit"    column="peo_limit"    />
        <result property="credit"    column="credit"    />
        <result property="totTime"    column="tot_time"    />
        <result property="finalMethod"    column="final_method"    />
        <result property="startYear"    column="start_year"    />
        <result property="startSem"    column="start_sem"    />
        <result property="facId"    column="fac_id"    />
        <result property="teachId"    column="teach_id"    />
    </resultMap>

    <sql id="selectCourseInfoVo">
        select id, name, type, peo_limit, credit, tot_time, final_method, start_year, start_sem, fac_id, teach_id from course_info
    </sql>

    <select id="selectCourseInfoList" parameterType="CourseInfo" resultMap="CourseInfoResult">
        <include refid="selectCourseInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="peoLimit != null "> and peo_limit = #{peoLimit}</if>
            <if test="credit != null "> and credit = #{credit}</if>
            <if test="totTime != null "> and tot_time = #{totTime}</if>
            <if test="finalMethod != null  and finalMethod != ''"> and final_method = #{finalMethod}</if>
            <if test="startYear != null "> and start_year = #{startYear}</if>
            <if test="startSem != null "> and start_sem = #{startSem}</if>
            <if test="facId != null "> and fac_id = #{facId}</if>
            <if test="teachId != null "> and teach_id = #{teachId}</if>
        </where>
    </select>
    
    <select id="selectCourseInfoById" parameterType="Long" resultMap="CourseInfoResult">
        <include refid="selectCourseInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectCourseInfoByTeacherId" parameterType="Long" resultMap="CourseInfoResult">
        SELECT *
        FROM course_info AS CS
        WHERE CS.teach_id
        IN(SELECT T.id FROM tea_info AS T, sys_user AS SYS WHERE T.id = SYS.user_id AND T.id = #{id})
    </select>

    <insert id="insertCourseInfo" parameterType="CourseInfo" useGeneratedKeys="true" keyProperty="id">
        insert into course_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="peoLimit != null">peo_limit,</if>
            <if test="credit != null">credit,</if>
            <if test="totTime != null">tot_time,</if>
            <if test="finalMethod != null and finalMethod != ''">final_method,</if>
            <if test="startYear != null">start_year,</if>
            <if test="startSem != null">start_sem,</if>
            <if test="facId != null">fac_id,</if>
            <if test="teachId != null">teach_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="peoLimit != null">#{peoLimit},</if>
            <if test="credit != null">#{credit},</if>
            <if test="totTime != null">#{totTime},</if>
            <if test="finalMethod != null and finalMethod != ''">#{finalMethod},</if>
            <if test="startYear != null">#{startYear},</if>
            <if test="startSem != null">#{startSem},</if>
            <if test="facId != null">#{facId},</if>
            <if test="teachId != null">#{teachId},</if>
         </trim>
    </insert>

    <update id="updateCourseInfo" parameterType="CourseInfo">
        update course_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="peoLimit != null">peo_limit = #{peoLimit},</if>
            <if test="credit != null">credit = #{credit},</if>
            <if test="totTime != null">tot_time = #{totTime},</if>
            <if test="finalMethod != null and finalMethod != ''">final_method = #{finalMethod},</if>
            <if test="startYear != null">start_year = #{startYear},</if>
            <if test="startSem != null">start_sem = #{startSem},</if>
            <if test="facId != null">fac_id = #{facId},</if>
            <if test="teachId != null">teach_id = #{teachId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCourseInfoById" parameterType="Long">
        delete from course_info where id = #{id}
    </delete>

    <delete id="deleteCourseInfoByIds" parameterType="String">
        delete from course_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>