<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tm.mapper.StuInfoMapper">
    
    <resultMap type="StuInfo" id="StuInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="type"    column="type"    />
        <result property="admMethod"    column="adm_method"    />
        <result property="inSchool"    column="in_school"    />
        <result property="stuStatus"    column="stu_status"    />
        <result property="classId"    column="class_id"    />
        <result property="majorId"    column="major_id"    />
    </resultMap>

    <sql id="selectStuInfoVo">
        select id, name, sex, type, adm_method, in_school, stu_status, class_id, major_id from stu_info
    </sql>

    <select id="selectStuInfoList" parameterType="StuInfo" resultMap="StuInfoResult">
        <include refid="selectStuInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="admMethod != null  and admMethod != ''"> and adm_method = #{admMethod}</if>
            <if test="inSchool != null "> and in_school = #{inSchool}</if>
            <if test="stuStatus != null "> and stu_status = #{stuStatus}</if>
            <if test="classId != null "> and class_id = #{classId}</if>
            <if test="majorId != null "> and major_id = #{majorId}</if>
        </where>
    </select>
    
    <select id="selectStuInfoById" parameterType="Long" resultMap="StuInfoResult">
        <include refid="selectStuInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertStuInfo" parameterType="StuInfo">
        INSERT INTO stu_info(id, name, sex, type, adm_method,in_school, stu_status, class_id, major_id)
        VALUES (#{id}, #{name}, #{sex}, #{type},#{admMethod}, #{inSchool}, #{stuStatus}, #{classId}, #{majorId});
    </insert>

    <update id="updateStuInfo" parameterType="StuInfo">
        update stu_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="admMethod != null and admMethod != ''">adm_method = #{admMethod},</if>
            <if test="inSchool != null">in_school = #{inSchool},</if>
            <if test="stuStatus != null">stu_status = #{stuStatus},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="majorId != null">major_id = #{majorId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStuInfoById" parameterType="Long">
        delete from stu_info where id = #{id}
    </delete>

    <delete id="deleteStuInfoByIds" parameterType="String">
        delete from stu_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>