<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tm.mapper.UserInfoMapper">

    <resultMap type="UserInfo" id="UserInfoResult">
        <result property="id"    column="id"    />
        <result property="password"    column="password"    />
        <result property="type"    column="type"    />
    </resultMap>

    <resultMap type="Score" id="ScoreInfoResult">
        <result property="score" column="total_score"/>
        <result property="ctype" column="type"/>
    </resultMap>

    <sql id="selectUserInfoVo">
        select id, password, type from user_info
    </sql>

    <sql id="selectScoreInfoVo">
        SELECT SUM(C.credit) AS total_score , C.type
        FROM stu_info AS S, choose_course AS CH ,course_info as C
        WHERE S.id = #{id} and S.id = CH.stu_id AND CH.course_id = C.id AND CH.pass = 1
        GROUP BY C.type
    </sql>

    <select id="selectUserInfoList" parameterType="UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>

    <select id="selectUserInfoById" parameterType="Long" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
    </select>

    <select id="selectStuScoreById" parameterType="Long" resultMap="ScoreInfoResult">
        <include refid="selectScoreInfoVo"/>
    </select>

    <insert id="insertUserInfo" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="type != null">#{type},</if>
        </trim>
    </insert>

    <update id="updateUserInfo" parameterType="UserInfo">
        update user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserInfoById" parameterType="Long">
        delete from user_info where id = #{id}
    </delete>

    <delete id="deleteUserInfoByIds" parameterType="String">
        delete from user_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
